fastapi
uvicorn[standard]
httpx
python-multipart
numpy
opencv-python-headless
google-cloud-vision
Pillow
python-dotenv
pytesseract

# --- Google Calendar 連携用 ---
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
